ul{list-style-type-none;
  }

body{background-color:pink;
     border: 3px solid gray;
  border-radius: 15px;
     padding:20px
    }

h1{text-align : center ;
  }

ul{list-style-type :none;
  }

li{display:inline;padding :10 px
   }

marquee{color:navy;
       }
